.main {
	display: block;
	background-color: #7fffd4;
	padding: 25px;
	height: 80%;
	padding-top: 100px;
}

.login {
	text-align: center;
}

.kaiin-login-form {
	margin: auto;
	text-align: center;
	padding-left: 10%;
}

.main .login-btn {
	margin-right: 10%;
}

.links {
	background-color: red;
	margin: 100px;
	width: 100%;
}

html, body {
	height: 100%;
}