@charset "UTF-8";

html {

}

body {
	height: 100%;
	font-size: 1.2rem;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
	box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
	color: #d03c56;
	text-decoration: none;
}


.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.hidden {
	display: none;
}

.btn {
	display: inline-block;
	width: 100px;
	height: 40px;
	background-color: orange;
	text-align: center;
	border-radius: 15px;
	opacity: 0.85;
	transition: 0.15s;
	margin: 5px;
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 1px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.btn:hover {
	opacity: 0.6;
}

.my-profile {
	width: 200px;
	height: 200px;
}

.comp-message {
	font-size:1.3rem;
	margin: 40px;
}

.field {
	margin: 10px;
	font-size: 1.2rem;
}

.error {
	color: red;
}